<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HSK Locations - Atelier 2025</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Accueil</a></li>
          <li><a href="/catalog">Voitures</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
    </header>

    <main>%%MAIN_CONTENT%%</main>

    

    <footer>
      <ul>
        <li><a href="#">Instagram</a></li>
        <li><a href="#">TikTok</a></li>
      </ul>
      <ul>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">LinkedIn</a></li>
      </ul>
      <ul>
        <li><a href="#">Mentions légales</a></li>
        <li><a href="#">CGU</a></li>
      </ul>
      <span>&copy; 2025 Portfolio de Mergim Askaj. Tous droits réservés.</span>
    </footer>
  </body>
</html>
