<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
      <nav class="navbar-admin">
        <h1>HSK Locations - Admin</h1>
        <ul>
          <li><a href="http://dev.hsk_location.com/admin">Accueil</a></li>
          <li><a href="http://dev.hsk_location.com/admin/catalog">Edit</a></li>
          <li><a href="http://dev.hsk_location.com/admin/catalog/add">Ajouter une voiture</a></li>
          <li><a href="http://dev.hsk_location.com/admin/catalog/category">Ajouter un tag</a></li>
        </ul>
      </nav>
    </header>
    <main>%%MAIN_CONTENT%%</main>
</body>
</html>